[submodule "members/exhume_filesystem"]
	path = members/exhume_filesystem
	url = git@github.com:forensicxlab/exhume_filesystem.git
	branch = main
[submodule "members/exhume_lvm"]
	path = members/exhume_lvm
	url = git@github.com:forensicxlab/exhume_lvm.git
	branch = main
[submodule "members/exhume_extfs"]
	path = members/exhume_extfs
	url = git@github.com:forensicxlab/exhume_extfs.git
	branch = main
[submodule "members/exhume_exfat"]
	path = members/exhume_exfat
	url = git@github.com:forensicxlab/exhume_exfat.git
	branch = main
[submodule "members/exhume_partitions"]
	path = members/exhume_partitions
	url = git@github.com:forensicxlab/exhume_partitions.git
	branch = main
[submodule "members/exhume_body"]
	path = members/exhume_body
	url = git@github.com:forensicxlab/exhume_body.git
	branch = main
[submodule "members/exhume_ntfs"]
	path = members/exhume_ntfs
	url = git@github.com:forensicxlab/exhume_ntfs.git
	branch = main
